.svgVisDock {
    border: solid 1px #666;
    overflow: hidden;
}
text.title {
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

text.label {
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

rect.button {
    stroke: #ccc;
    fill: white;
    fill-opacity: 1;
   
}
rect.dock {
    stroke: #ccc;
    fill: white;
    fill-opacity: .7;
}

rect.panel {
    stroke: #ccc;
    fill: #fff;
}
rect.birdView {
    fill: #fff;
}
rect.birdBound {
    fill: #fff;
    stroke: black;
    fill-opacity: 0
}

rect.selection {
    pointer-events: none;
    fill: yellow;
    stroke: orange;
    opacity: 0.5;
}

ellipse.selection {
    pointer-events: none;
    fill: yellow;
    stroke: orange;
    opacity: 0.5;
}

line.selection {
    pointer-events: none;
    width: 2;
    stroke: orange;
    opacity: 0.5;
}

polyline.selection {
    pointer-events: none;
    width: 2;
    fill: none;
    stroke: orange;
    opacity: 0.5;
}

polygon.selection {
    pointer-events: none;
    fill: yellow;
    stroke: orange;
    opacity: 0.5;
}

scraps {
    pointer-events: none;
}

.annotation {
	border:1px solid;
	padding:5px 5px; 
	resize:	both;
	overflow: auto;
	color: red;
	background-color: white;
	opacity: 0.8;
	font-size: 10px;
}

.annotation-dot {
	fill: black;
	cursor: pointer;
}

.close-btn { 
    border: 1px solid #c2c2c2;
    position: relative;
    padding: 1px 5px;
    top: -5px;
    background-color: #605F61;
    left: 67px; 
    border-radius: 15px;
}

.close-btn a {
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.annotation-line {
	stroke-width: 2px;
	stroke: red;
}

